# https://docs.djangoproject.com/en/5.0/ref/settings/#std-setting-DEBUG
DEBUG=True

# https://docs.djangoproject.com/en/5.0/ref/settings/#std-setting-SECRET_KEY
# python3 -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY=w(edxxqva6++35*(n!xq(33k2i37=wq^2r8(mynk%yql36u&hw

# https://docs.djangoproject.com/en/5.0/ref/settings/#std-setting-DATABASES
POSTGRES_DATABASE=polls
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword
POSTGRES_HOST=localhost

# https://docs.djangoproject.com/en/5.0/ref/settings/#std-setting-STATIC_URL
STATIC_URL=static/

# https://docs.djangoproject.com/en/5.0/ref/settings/#std-setting-STATIC_ROOT
STATIC_ROOT=/full/path/to/the/directory/where/collectstatic/will/collect/static/files/

# https://docs.djangoproject.com/en/5.0/ref/django-admin/#createsuperuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin
